/* .activity{
    padding: 10px;
    border-radius: 10px;
}
.activity img{
    width: 250px;
    height: 180px;
    border: 1px solid;
    border-radius: 8px;
    margin: 7px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) { 
    .activity img{
        width: 200px;
        height: 180px;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px)  { 
    .activity img{
        width: 200px;
        height: 180px;
    }
 }
@media (max-width: 575px)  { 
    .activity img{
        width: 180px;
        height: 180px;
    }
} */